@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: Inter;
  color: #fff;
  background-color: #191919;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px 0 50px;
}

.header {
  margin-bottom: 40px;
}

.header__list {
  display: flex;
  justify-content: end;
}

.header__list-item {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-right: 40px;
}

.header__list-item:last-child {
  padding-right: 0px;
}
.header__link--active {
  color: #118da8;
}

.header__list-item--logo {
  width: 100%;
  text-align: left;
}

.header__navigation {
  padding-top: 26px;
}

.preview__title {
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px; /* 125.714% */
  letter-spacing: 3.2px;
}

.preview__title--marked {
  font-weight: 700;
}

.preview__social-list {
  display: flex;
}

.preview__social-item {
  padding-right: 17px;
}

.preview__social-item:last-child {
  padding-right: 0;
}

.preview__social-title {
  margin-bottom: 16px;
}

.preview__text {
  margin-bottom: 90px;
  max-width: 536px;
}

.preview__pigga {
  height: 873px;
  border-radius: 12px;
}

.preview {
  display: flex;
  margin-bottom: 100px;
}

.preview__images {
  margin-right: 60px;
}
.preview__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content__episodes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 99px;
  margin-bottom: 40px;
}

.content__episodes-title {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px; /* 123.75% */
  letter-spacing: 2.88px;
  margin: 0;
}

.content__episodes-link {
  margin-top: 25px;
}

.btn {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  border-radius: 6px;
  background-color: #118da8;
  height: fit-content;
  padding: 12px 20px;
}

.episode__card {
  margin-bottom: 260px;
}

.episode__card-inner {
  display: flex;
  background-color: black;
  border-radius: 32px;
  padding: 40px;
  margin-bottom: 60px;
}

.episode__card-1:last-child {
  margin-bottom: 0;
}

.episode__card-image {
  width: 389px;
  height: 465px;
}

.episode__card-content {
  margin-left: 53px;
}

.episode__card-btn {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  border-radius: 6px;
  background-color: #191919;
  margin-bottom: 48px;
  padding: 0 16px;
  border: none;
}

.episode__p {
  color: #118da8;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 158.824% */
  margin: 0;
  margin-bottom: 15px;
}

.episode__title {
  color: #fff;
  font-size: 64px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70.4px; /* 110% */
  letter-spacing: 2.56px;
  width: 701px;
  margin: 0;
  margin-bottom: 28px;
}

.episode__p-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  width: 800px;
  margin: 0;
  margin-bottom: 30px;
}

.episode__btn-details {
  color: #fff;
  font-size: 18px;
  line-height: 27px; /* 150% */
  display: block;
  margin-top: auto;
  width: fit-content;
}

.biography {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}

.biography__text {
  padding-right: 60px;
  width: 590px;
  height: 448px;
}

.biography__text-button {
  transform: rotate(-90deg);
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: none;
  background: #118da8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.biography__image-niga {
  width: 650px;
  height: 743px;
  border-radius: 12px;
}

.biography__description,
.subscribe__description {
  color: #118da8;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin: 0;
}

.biography__name {
  color: #fff;
  margin: 0;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px; /* 121.846% */
  letter-spacing: 2.88px;
  padding-bottom: 28px;
}

.biogrpaphy__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  padding-bottom: 33px;
  margin: 0;
}

.subscribe {
  display: flex;
  background-color: #000;
  border-radius: 32px;
  padding: 60px;
  margin-bottom: 200px;
  justify-content: space-between;
}

.subscribe__title {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px; /* 110% */
  letter-spacing: 2.88px;
  margin: 0;
  width: 431px;
}

input[type="text"],
[type="email"] {
  border-radius: 6px;
  background-color: #191919;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 120% */
  margin-bottom: 20px;
  padding: 25px 160px 25px 20px;
  border: none;
}

.subscribe__form-btn {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.8px; /* 192% */
  padding: 10px 20px;
}

.feedback {
  display: grid;
  grid-gap: 16px;
  grid-column-gap: 16px;
  grid-template-areas:
    "feedback_block feedback_block feedback_block"
    "feedback_block feedback_block feedback_block";
  margin-bottom: 200px;
}

.feedback_block {
  border-radius: 32px;
  background: #000;
  padding: 50px;
}

.feedback_block-title {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px; /* 120% */
  margin: 0;
  width: 313px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.feedback_block-p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 120% */
  margin: 0;
}

.social__navigation-link {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 158.824% */
}

.footer {
  display: grid;
  grid-template-areas: "footer__social-images social__navigation-list social__navigation-list  footer__social-list";
  width: fit-content;
  margin-bottom: 100px;
}

.footer__social-images {
  display: flex;
  flex-direction: column;
  margin-right: 284px;
}

.footer__social-images-title {
  margin-bottom: 20px;
}

.social__navigation {
  display: flex;
  margin: 0;
}

.social__navigation-list-first {
  margin: 0;
  margin-right: 150px;
}

.social__navigation-list-second {
  margin: 0;
  margin-right: 50px;
}

.social__navigation-item {
  padding-bottom: 10px;
}

.footer__social-list {
  display: flex;
  margin: 0;
}

.footer__social-item {
  margin-right: 16px;
}
